@font-face {
    font-family: 'Intro Regular Caps';
    src: url(./fonts/Intro-Regular-Caps.woff),
    url(./fonts/Intro-Regular-Caps.woff2);
    font-style: normal;
}

.favorite {
    background-color: #5222D0;
    color: #fff;   
    border-radius: 2em;
    height: 50px;
    font-family: 'Intro Regular Caps';
    width: 150px;
    font-weight: 600;
    border: none;
}
button img {
    padding-left: 15px;
    padding-bottom: 6px;
}
ul li a{
    color:#5222D0;
}
.card-title{
    font-size: 3rem;
    font-weight: 700;
}